.footer {
  justify-items: center;
  gap:0;
}
  
/*@media (min-width: 1024px) {
  .footer {
    grid-template-areas:
      "content followUs"
      "copyRight copyRight";
  }
}*/

.footer-content {
  margin-right: auto;
}
  
.footer-copyRight {
  justify-items: center;
}